@font-face {
    font-family: 'Metropolis-700';
    src: local('Metropolis Bold'), local('Metropolis-Bold'),
        url('./fonts/Metropolis-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}